{
	email {$ACME_EMAIL}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	@api path /api/* /admin/* /static/* /media/*
	handle @api {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
